.square{
  height: 50px;
  width: 300px;

}
.square1{
  height: 80px;
  width: 300px;

}
.square2{
  height: 80px;
  width: 25px;
  margin-left: 70px;
}
.square3{
  height: 25px;
  width: 300px;
}
.square4{
  height: 70px;
  width: 70px;
  margin-left: 115px;
  margin-top: 55px;
  border-radius: 100%;
}
.square5{
  height: 60px;
  width: 230px;
  margin-left: 70px;
}
.square-red{
  background-color: #f00000;
}
.square-yellow{
  background-color: #ffff00;
}
.square-white{
  background-color: #ffffff;
}
.square-black{
  background-color: #000000;
}
.square-green{
  background-color: #04b404;
}
.banderas{
  display: block;
}
.container1{
  background-color: #f00000;
  height: 180px;
  width: 300px;
}
.container2{
  background-color: #f00000;
  width: 300px;
}
.container3{
  background-color: #ffffff;
  height: 180px;
  width: 300px;
  border: 2px solid black;
}
.caja{
  margin:15px;
  display: inline-block;
}
.caja1{
  margin:15px;
  display: inline-block;
}
